.fly-form {
	position: relative;

	.el-form {
		padding: 0;
		.el-row {
			width: 100%;
			margin-bottom: 5px;
			.el-col {
				.el-form-item {
					width: 100% ;
				}
				// padding-right: 15px;
				&:last-child {
					padding-right: 0;
				}
				.el-input-number,
				.el-cascader {
					width: 100%;
				}
			}
		}
		.fly-form-row{
			&> .fly-form-item{
				width: 100%;
			}
		}
	}

	.el-form--inline {
		.el-date-editor.el-input,
		.el-date-editor.el-input__inner {
			width: 200px;
		}

		.el-form-item {
			width: 200px;
			margin-right: 12px;
		}
	}

	.ivu-cascader {
		line-height: inherit;
	}

	.ivu-input-number {
		width: 100% !important;
	}

	.ivu-select-input {
		background-color: #041538 !important;
		height: 30px !important;
		color: #fff !important;
	}

	.ivu-input-word-count {
		background: none;
	}

	.ivu-input-type-textarea {
		.ivu-input {
			height: auto !important;
		}
	}
}

.fly-form-footer {
	padding: 0 10px;
	.el-button {
		margin: 0 5px;
		&.last-child {
			margin-right: 0;
		}
	}
}

.my-form-spin-icon-load {
	animation: ani-form-spin 1s linear infinite;
}

@keyframes ani-form-spin {
	from {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.fly-form-hide-label {
	.el-form-item__label {
		display: none !important;
	}
}

.ivu-form-label-top {
	.el-form-item__label {
		text-align: left !important;
	}

	.ivu-form-item-content {
		margin-left: 0 !important;
	}
}

.ivu-form-label-right {
	.el-form-item__label {
		text-align: right !important;
	}
}

.fly-search {
	.el-form-item {
		margin-bottom: 0px;
	}

	.ivu-form-item-error .ivu-select-arrow {
		color: #808695;
	}

	.ivu-form-item-error-tip {
		display: none;
	}
}

.fly-form-title {
	margin: 5px 0 !important;
}

.fly-form-buttons {
	display: inline-flex;
	width: auto !important;
	.el-button {
		&:last-child {
			margin-right: 0;
		}
	}
}
.fly-form-item-tips {
	display: inline-flex;
	align-items: center;
	.fly-form-item-tips-icon {
		margin-left: 5px;
		cursor: pointer;
	}
}
